<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <h4>
            <img src="/img/img-mercado-liebre.svg" alt="titulo" class="titulo">
            <i class="header-busqueda">lugar donde poner la barra de busqueda</i>
            <i class="header-busqueda-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </i>

            <i class="header-anuncio"><i class="fa-solid fa-hand-holding-dollar"></i>comprá en cuotas y sin targeta de
                crédito</i>
        </h4>
        <h4>
            <i><a href="/home">Ofertas</a></i>
            <i><a href="/">Tiendas Oficiales</a></i>
            <i><a href="">Vender</a></i>
            <i><a href="">Ayuda</a></i>
        </h4>
        <h4>
            <i><a href="">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></i>
            <i><a href="">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i></i>
            <i><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></i>
        </h4>
        <nav class="header-icon-barra">
            <i class="fa-solid fa-bars"></i>
        </nav>
    </header>

    <main>
        <h4>
            <i class="main-titulos">Sección: Basado en tu última visita</i>
        </h4>
        <nav>
            <img src="/img/img-cafetera-moulinex.jpg" alt="article" class="article">
            <i>$6.770</i>
            <i class="main-texto">40% OFF</i>
            <i class="main-texto">Cafetera Moulinex</i>
        </nav>
        <nav>
            <img src="/img/img-macbook-pro-2019.jpg" alt="article" class="article">
            <i class="main-precio">$230.000</i>
            <i class="main-texto">20% off</i>
            <i class="main-texto">MacBook Pro 2019</i>
        </nav>
        <nav>
            <img src="img/img-samsung-galaxy-s10.jpg" alt="article" class="article">
            <i class="main-precio">$70.500</i>
            <i class="main-texto">10% off</i>
            <i class="main-texto">Samsung Galaxy S10</i>
        </nav>
        <nav>
            <img src="img/img-tv-samsung-smart.jpg" alt="article" class="article">
            <i class="main-precio">$23.200</i>
            <i class="main-texto">5% off</i>
            <i class="main-texto">SmartTv Samsung 43"</i>
        </nav>

        <h4>
            <i class="main-titulos">Sección de Ofertas</i>
        </h4>
        <nav>
            <img src="img/img-cafetera-moulinex.jpg" alt="article" class="article">
            <i class="main-precio">$6.770</i>
            <i class="main-texto">40% OFF</i>
            <i class="main-texto">Cafetera Moulinex</i>
        </nav>
        <nav>
            <img src="img/img-macbook-pro-2019.jpg" alt="article" class="article">
            <i class="main-precio">$230.000</i>
            <i class="main-texto">20% off</i>
            <i class="main-texto">MacBook Pro 2019</i>
        </nav>
        <nav>
            <img src="img/img-samsung-galaxy-s10.jpg" alt="article" class="article">
            <i class="main-precio">$70.500</i>
            <i class="main-texto">10% off</i>
            <i class="main-texto">Samsung Galaxy S10</i>
        </nav>
        <nav>
            <img src="img/img-tv-samsung-smart.jpg" alt="article" class="article">
            <i class="main-precio">$23.200</i>
            <i class="main-texto">5% off</i>
            <i class="main-texto">SmartTv Samsung 43"</i>
        </nav>
    </main>

    <footer class="footer">
        <nav class="footer-icon">
            <i class="fa-solid fa-credit-card"></i>
        </nav>
        <h2>
            <i>Pagá con tarjeta o en efectivo</i>
        </h2>
        <nav class="footer-text">

            <i>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en</i>
            <i>puntos de pago. ¡Y siempre es seguro!</i>
        </nav>
        <nav class="footer-icon">
            <i class="fa-solid fa-gift"></i>
        </nav>
        <h2>
            <i>Envío gratis desde $ 2.500</i>
        </h2>
        <nav class="footer-text">
            <i>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de</i>
            <i>productos. Es un beneficio de Mercado Puntos.</i>
        </nav>
        <nav class="footer-icon">
            <i class="fa-solid fa-user-shield"></i>
        </nav>
        <h2>
            <i>Seguridad, de principio a fin</i>
        </h2>
        <nav class="footer-text">

            <i>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</i>
            <i>porque estás siempre protegid@.</i>
        </nav>
        <nav>
            <i>Copyright © 1999-2020 MercadoLiebre S.R.L.</i>
        </nav>

    </footer>


</body>

</html>