<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>

<body>
    <header>
        <img src="/img/img-mercado-liebre.svg">
        <ul type="none">
            <li>lugar donde poner la barra de busqueda</li>
            <li>compra en cuotas y sin targeta de credito</li>
        </ul>
        <ul>
            <li><a href="/home">Ofertas</a></li>
            <li><a href="/prueba">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </header>

    <main>
        <ul>
            <li>Sección: Basado en tu última visita</li>
        </ul>
        <img src="/img/img-cafetera-moulinex.jpg" alt="">
        <ul type="none">
            <li>$6.770</li>
            <li>40% OFF</li>
            <li>Cafetera Moulinex</li>
        </ul>
        <ul type="none">
            <img src="/img/img-macbook-pro-2019.jpg" alt="">
            <li>$230.000</li>
            <li>20% off</li>
            <li>MacBook Pro 2019</li>
        </ul>
        <ul type="none">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="">
            <li>$70.500</li>
            <li>10% off</li>
            <li>Samsung Galaxy S10</li>
        </ul>
        <ul type="none">
            <img src="img/img-tv-samsung-smart.jpg" alt="">
            <li>$23.200</li>
            <li>5% off</li>
            <li>SmartTv Samsung 43"</li>
        </ul>

        <ul>
            <li>Sección de Ofertas</li>
        </ul>
        <img src="img/img-cafetera-moulinex.jpg" alt="">
        <ul type="none">
            <li>$6.770</li>
            <li>40% OFF</li>
            <li>Cafetera Moulinex</li>
        </ul>
        <ul type="none">
            <img src="img/img-macbook-pro-2019.jpg" alt="">
            <li>$230.000</li>
            <li>20% off</li>
            <li>MacBook Pro 2019</li>
        </ul>
        <ul type="none">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="">
            <li>$70.500</li>
            <li>10% off</li>
            <li>Samsung Galaxy S10</li>
        </ul>
        <ul type="none">
            <img src="img/img-tv-samsung-smart.jpg" alt="">
            <li>$23.200</li>
            <li>5% off</li>
            <li>SmartTv Samsung 43"</li>
        </ul>
    </main>

    <footer>
        <ul type="none">
            <li>Pagá con tarjeta o en efectivo</li>
        </ul>
        <ul type="none">
            <li>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en</li>
            <li>puntos de pago. ¡Y siempre es seguro!</li>
        </ul>
        <ul type="none">
            <li>Envío gratis desde $ 2.500</li>
        </ul>
        <ul type="none">
            <li>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de</li>
            <li>productos. Es un beneficio de Mercado Puntos.</li>
        </ul>
        <ul type="none">
            <li>Seguridad, de principio a fin</li>
        </ul>
        <ul type="none">
            <li>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</li>
            <li>porque estás siempre protegid@.</li>
        </ul>
        <ul type="none">
            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
        
    </footer>


</body>

</html>