.footer {
  text-align: center;
}

.footer-icon {
  font-size: 20px;
  color: #1259c3;
  margin-top: 50px;
  transition-duration: 1s;
}
.footer-icon:hover {
  color: #002153;
}

footer p{
  font-size: 13px;
  padding: 0px 30px 0px 30px;
}
footer a{
  font-size: 20px;
}
.fa-credit-card{
  font-size: 25px;
}
.fa-gift{
  font-size: 25px;
}
.fa-user-shield{
  font-size: 25px;
  
}
.footer-text {
  margin-bottom: 6%;
}

@media (min-width: 769px) {
  .footer {
    display: flex;
  }
  .footer .footer-desktop {
    width: 33%;
  }
  .footer .footer-desktop .footer-text {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024pxpx) {
  .footer {
    display: flex;
  }
  .footer .footer-desktop {
    width: 33%;
  }
  .footer .footer-desktop .footer-text {
    margin-bottom: 30px;
  }
}
