* {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  font-size: 12px;
}
main .home-banner-c {
}

main .home-banner {
  width: 100%;
}

main .main-title {
  font-size: 24px;
}
main .products {
}

main .article {
}
main .emote-camion {
}

main.main-precio {
  font-size: 18px;
}
main .main-offer {
}

main .main-texto {
  font-size: 16px;
}


.main {
  background-color: #ebebeb;
}
main .home-banner-c {
  display: block;
}
main .home-banner {
  /* max-width: 100%; */
  /* height: auto; */
}

main .main-title {
  color: #767275;
  padding: 10px 0px 10px 3%;
  /* background-color: white; */
}
.main .mostrar-productos {
}

main .products {
  /* box-shadow: 0px 0px 10px rgb(100, 100, 50); */
  margin: 20px;
  /* border: solid 1px black; */
  background-color: white;
  transition: 1s;
}
main .products:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main .article {
  width: 68%;
  margin: auto;
  display: block;
  padding-top: 10px;
}
main .emote-camion {
  color: #3fb349;
  margin-left: 84%;
  border-radius: 50%;
  width: 22px;
  border: solid 1.6px;
  padding: 1px 17px 1px 4px;
  transition-duration: 3s;
}
main .emote-camion:hover {
  transform: rotate(-90deg);
}

main .main-precio {
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 0;
}

main .main-offer {
  color: #3fb349;
  margin-left: 20px;
  font-size: 13px;
}

main .main-texto {
  font-size: 0px;
  color: gray;
  padding: 2% 0% 2% 0%;
  margin-left: 5%;
}
main .main-texto:hover {
  font-size: 12px;
}

@media (min-width: 769px) {
  .main {
    font-size: 17px;
    background-color: #ebebeb;
  }
  main .home-banner-c {
    display: block;
  }
  main .home-banner {
    max-width: 100%;
    height: auto;
  }
  main .main-title {
    /* margin-left: 3%; */
    color: #767275;
    margin-top: 11px;
  }

  main .main-titulos {
  }

  main .products {
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    width: 43%;
    margin-bottom: 12px;
    margin-top: 3%;
    padding-top: 20px;
    background-color: white;
  }
  main .mostrar-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main .article {
    width: 90%;
    margin: auto;
    display: block;
    /* padding-top: 0px; */
  }
  main .emote-camion {
    color: #3fb349;
    margin-left: 86%;
    border-radius: 48px;
    width: 26px;
    border: solid 1.6px;
    padding: 2px 24px 2px 6px;
  }

  main .main-precio {
    margin-left: 5%;
  }

  main .main-offer {
    color: green;
    margin-left: 5%;
    font-size: 72%;
  }

  main .main-texto {
    font-size: 62%;
    color: gray;
    padding: 2% 0% 2% 0%;
    margin-left: 5%;
  }
}

@media (min-width: 1024px) {
  .main {
    font-size: 17px;
    background-color: #ebebeb;
  }
  main .home-banner-c {
    display: block;
  }
  main .home-banner {
    max-width: 100%;
    height: auto;
  }
  main .main-title {
    margin-left: -1%;
    color: #767275;
    margin-top: 11px;
  }

  main .main-titulos {
  }

  main .products {
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    width: 43%;
    margin-bottom: 12px;
    margin-top: 3%;
    padding-top: 20px;
    background-color: white;
  }
  main .mostrar-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .mostrar-productos-pc {
    display: flex;
    flex-direction: column;
  }

  main .article {
    width: 69%;
    margin: auto;
    display: block;
    /* padding-top: 0px; */
  }
  main .emote-camion {
    color: #3fb349;
    margin-left: 76%;
    border-radius: 48px;
    width: 26px;
    border: solid 1.6px;
    padding: 3px 24px 3px 6px;
  }

  main .main-precio {
    margin-left: 5%;
  }

  main .main-offer {
    color: green;
    margin-left: 5%;
    font-size: 72%;
  }

  main .main-texto {
    font-size: 62%;
    color: gray;
    padding: 2% 0% 2% 0%;
    margin-left: 5%;
  }
}
