* {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #eac926;
  padding-bottom: 4%;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

header .titulo {
  height: 115px;
  padding: 30px 30px 10px 15px;
  margin: 50px;
}

header .header-para-buscar {}

header .header-barrra-busqueda {
  background-color: white;
  width: 500px;
  border: solid #666 3px;
  text-align: center;
  margin-left: 14px;
  font-size: 3ex;
  margin-bottom: 20px;
}
header .header-busqueda-icon {
  /* margin-left: 3%; */
  background-color: white;
  border: solid #666 3px;
  font-size: 3ex;
  text-align: center;
}

header .header-anuncio {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  /* font-size: 3ex; */
}

header .scroll {
}
header .redirecciones-1 {display: flex;flex-direction: row;}
header .redirecciones-2 {
}

header .header-icon-barra {
  background-color: #1259c3;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px 10px 10px 10px;
  margin-left: 48%;
  margin-right: 48%;
  margin-top: 20px;
}
.main {
  font-size: 12px;
}
main .home-banner-c {
}

main .home-banner {
  width: 100%;
}

main .main-title {
  font-size: 24px;
}
main .products {
 
}

main .article {
}
main .emote-camion {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  /* position: absolute; */
  right: 20px;
  top: -15px;

}

main.main-precio {
  font-size: 18px;
}
main .main-offer {
}

main .main-texto {
  font-size: 16px;
}

.footer {
  text-align: center;
}

.footer-icon {
  font-size: 2em;
  color: #1259c3;
}

.footer-text {
  margin-bottom: 6%;
}

@media (min-width: 361px) and (max-width: 768px) {
  .header {
    width: 100%;
  }
  header .titulo {
    width: 150px;
    padding: 0%;
    margin: 5% 0% 5% 5%;
    height: 0%;
  }
  header .header-para-buscar {
  }
  header .header-barrra-busqueda {
    font-size: 13px;
    border: solid #666 1px;
    width: auto;
    padding-right: 5px;
  }
  header .header-busqueda-icon {
    /* width: 20px; */
    font-size: 13px;
    border: solid #666 0.1px;
    margin: auto;
  }
  header .header-anuncio {
    font-size: 82%;
    margin: auto;
    display: block;
    padding: 10px;
    margin-bottom: 35px;
  }
  header .scroll {
    font-size: 0%;
  }
  header .header-icon-barra {
    padding: 10px 0% 10px 0%;
    width: 65px;
    box-sizing: border-box;
    margin: auto;
    display: block;
  }
  .main {
  }
  main .home-banner-c {
    display: block;
  }
  main .home-banner {
    /* max-width: 100%; */
    /* height: auto; */
  }

  main .main-title {
    color: #767275;
  }

  main .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main .article {
    width: 68%;
    margin: auto;
    display: block;
    padding-top: 10px;
  }
  main .emote-camion {
    color: #3fb349;
    margin-left: 19px;
    border-radius: 100%;
    width: 22px;
    border: solid 1.6px;
    padding: 4px 33px 13px 3px;
  }

  main .main-precio {
    margin-left: 19px;
    padding-top: 13px;
  }

  main .main-offer {
    color: #3fb349;
    margin-left: 19px;
    font-size: 72%;
  }

  main .main-texto {
    font-size: 0px;
    color: gray;
    padding: 2% 0% 2% 0%;
    margin-left: 5%;
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
  .header {
  }
  header .titulo {
    margin: auto;
    margin-left: 20px;
    margin-bottom: 8px;
    height: 100px;
  }
  header .header-barrra-busqueda {
    margin-left: 26px;
    padding-right: 30px;
    font-size: 22px;
  }

  header .header-busqueda-icon {
  }
  header .header-anuncio {
    box-sizing: border-box;
    display: block;
    font-size: 20px;
  }
  header .redirecciones-1 {
    margin: 0px;
  }
  header .redirecciones-2 {
    margin: 0px;
  }

  header .header-icon-barra {
    width: 0px;
    padding: 0px;
    margin: auto;
    font-size: 0px;
  }
  .main {
  }
  main .home-banner-c {
    display: block;
  }
  main .home-banner {
    max-width: 100%;
    height: auto;
  }

  main .main-titulos {
  }

  main .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main .article {
    width: 68%;
    margin: auto;
    display: block;
    padding-top: 10px;
  }
  main .emote-camion {
    color: #3fb349;
    margin-left: 42px;
    border-radius: 50%;
    width: 22px;
    border: solid 1.6px;
    padding: 4px 32px 13px 4px;
  }

  main .main-precio {
    margin-left: 42px;
  }

  main .main-offer {
    color: green;
    margin-left: 42px;
    font-size: 72%;
  }

  main .main-texto {
    font-size: 62%;
    color: gray;
    padding: 2% 0% 2% 0%;
    margin-left: 42px;
  }
}
