* {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  background-color: #eac926;
  padding-bottom: 4%;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

header .titulo {
  height: 80px;
  padding: 30px 30px 10px 15px;
  margin: 50px;
}

header .header-para-buscar {
}

header .header-barrra-busqueda {
  background-color: white;
  width: 500px;
  border: solid #666 1px;
  text-align: center;
  margin-left: 14px;
  font-size: 3ex;
}
header .header-busqueda-icon {
  /* margin-left: 3%; */
  background-color: white;
  border: solid #666 1px;
  font-size: 20px;
  text-align: center;
  background-color: solid rgba(255,0,0,0)  0.1px;
}

header .header-anuncio {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  font-size: 3ex;
}

header .scroll {
}
header .redirecciones-1 {
}
header .redirecciones-2 {
}

header .header-icon-barra {
  background-color: #1259c3;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px 10px 10px 10px;
  margin-left: 48%;
  margin-right: 48%;
  margin-top: 20px;
}
.main {
  font-size: 12px;
}
main .home-banner-c {
}

main .home-banner {
  width: 100%;
}

main .main-title {
  font-size: 24px;
}
main .products {
}

main .article {
}
main .emote-camion {
}

main.main-precio {
  font-size: 18px;
}
main .main-offer {
}

main .main-texto {
  font-size: 16px;
}

.footer {
  text-align: center;
}

.footer-icon {
  font-size: 2em;
  color: #1259c3;
  margin-top: 50px;
}

.footer-text {
  margin-bottom: 6%;
}

@media (min-width: 361px) {
  .header {
    width: 100%;
  }
  .header .titulo-busqueda{
    display: flex;
}
  .header .titulo-busqueda-anuncio{/* display: flex; */}
  header .titulo {
    width: 50%;
    padding: 0%;
    margin: 5% 0% 5% 5%;
    height: 0%;
  }
  header .header-para-buscar {
  margin-top: 10%;
  text-align: center;
  margin-right: 14px;
  width: 40%;
  }
  header .header-barrra-busqueda {
    font-size: 11px;
    border: solid #fdfdfd 1px;
    border-right: white solid;
    padding: 4% 8% 4% 0%;
    border-radius: 8px;
    color: #7595c5;
    margin-left: -10px;
    width: 101%;
  }
  header .header-busqueda-icon {
    /* width: 20px; */
    font-size: 8px;
    border: solid rgba(255,0,0,0)  0.1px;
    margin: -15%;
    padding: 1% 1% 1% 0px;
    border-radius: 4px;
    color: #9c9c9c;
  }
  header .header-anuncio {
    font-size: 82%;
    margin: auto;
    display: block;
    padding: 10px;
    margin-bottom: 23px;
  }
  .header .scroll-1{}

  header .scroll {
    display: none;
  }
  header .header-icon-barra {
    /* padding: 10px 0% 10px 0%; */
    width: 59px;
    box-sizing: border-box;
    margin: auto;
    display: block;
    border-radius: 8px;
    font-size: 24px;
  }
  .main {

  }
  main .home-banner-c {
    display: block;
  }
  main .home-banner {
    /* max-width: 100%; */
    /* height: auto; */
  }

  main .main-title {
    color: #767275;
    padding: 10px 0px 10px 3%;
  }
  .main .mostrar-productos{}

  main .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main .article {
    width: 68%;
    margin: auto;
    display: block;
    padding-top: 10px;
  }
  main .emote-camion {
    color: #3fb349;
    margin-left: 84%;
    border-radius: 50%;
    width: 22px;
    border: solid 1.6px;
    padding: 4px 17px 4px 4px;
  }

  main .main-precio {
    margin-left: 20px;
  }

  main .main-offer {
    color: #3fb349;
    margin-left: 20px;
    font-size: 11px;
  }

  main .main-texto {
    font-size: 0px;
    color: gray;
    padding: 2% 0% 2% 0%;
    margin-left: 5%;
  }
}

@media (min-width: 769px) {
  .header {
  padding-bottom: 2%;
  }
  .header .titulo-busqueda{
    display: flex;
    flex-direction: row;
    width: 68%;
    margin-top: 36px;
}
  
  .header .titulo-busqueda-anuncio{
    display: flex;
    padding-bottom: 33px;
}
  header .titulo {
    margin: auto;
    /* margin-left: 0px; */
    margin-bottom: 8px;
    height: 99px;
    width: 46%;
    padding-top: 25px;
    padding: 0;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: -4px;
  }

  .header .header-para-buscar{
    width: 172px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 24px;
    width: 43%;
}
  
  header .header-barrra-busqueda {
    margin-left: -50px;
    font-size: 16px;
    width: 104%;
    padding: 5% 5% 5% 0%;
  }

  header .header-busqueda-icon {
  font-size: 15px;
  padding: 5% 0% 5% 3%;
  }
  header .header-anuncio {
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    width: 68%;
    margin-top: 75px;
    margin-right: 11px;
    width: 100%;
    text-align: end;
  }
  .header .scroll-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
  .header .scroll {
    display: flex;
}
  header .redirecciones-1 {
  margin-left: 20px;
  font-size: 13px;
  }
  header .redirecciones-2 {
    margin-right: 25px;
    font-size: 13px;
  }

  header .header-icon-barra {
    /* display: none; */
    width: 0px;
    padding: 0px;
    margin: auto;
    font-size: 0px;
  }
  .main {
  font-size: 17px;
  background-color: #ebebeb;
  }
  main .home-banner-c {
    display: block;
  }
  main .home-banner {
    max-width: 100%;
    height: auto;
  }
  main .main-title{
    margin-left: 3%;
    color: #767275;
    margin-top: 11px;
}

  main .main-titulos {
  }

  main .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 43%;
    margin-bottom: 12px;
    margin-top: 3%;
    padding-top: 20px;
    background-color: white;
  }
  main .mostrar-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

  main .article {
    width: 90%;
    margin: auto;
    display: block;
    /* padding-top: 0px; */
  }
  main .emote-camion {
    color: #3fb349;
    margin-left: 86%;
    border-radius: 48px;
    width: 26px;
    border: solid 1.6px;
    padding: 6px 24px 6px 6px;
  }

  main .main-precio {
    margin-left: 5%;
  }

  main .main-offer {
    color: green;
    margin-left: 5%;
    font-size: 72%;
  }

  main .main-texto {
    font-size: 62%;
    color: gray;
    padding: 2% 0% 2% 0%;
    margin-left: 5%;
  }
}

@media (min-width: 1024px) {
  .header {
  padding-bottom: 2%;
  }
  .header .titulo-busqueda{
    display: flex;
    flex-direction: row;
    width: 68%;
    margin-top: 20px;
}
  .header .titulo-busqueda-anuncio{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}
  header .titulo {
    margin: auto;
    /* margin-left: 0px; */
    margin-bottom: 23px;
    height: 102px;
    width: 47%;
    padding: initial;
  }

  .header .header-para-buscar{
    /* display: flex; */
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 39px;
    /* width: 41%; */
}
  
  header .header-barrra-busqueda {
    /* margin-left: 0px; */
    /* padding-right: 24%; */
    font-size: 18px;
    width: 99%;
    text-align: center;
    /* border-radius: 15px; */
  }

  header .header-busqueda-icon {
  font-size: 17px;
  border-radius: 20px;
  background-color: rgba(255,0,0,0);
  }
  header .header-anuncio {
    box-sizing: border-box;
    display: block;
    font-size: 17px;
    width: 100%;
    margin-top: 23%;
    margin-right: 22px;
    text-align: center;
  }
  .header .scroll-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
  .header .scroll {
    display: flex;
}
  header .redirecciones-1 {
  margin-left: 20px;
  font-size: 13px;
  }
  header .redirecciones-2 {
    margin-right: 25px;
    font-size: 13px;
  }

  header .header-icon-barra {
    width: 0px;
    padding: 0px;
    /* height: 0px; */
    margin: auto;
    font-size: 0px;
  }
  .main {
  font-size: 17px;
  background-color: #ebebeb;
  }
  main .home-banner-c {
    display: block;
  }
  main .home-banner {
    max-width: 100%;
    height: auto;
  }
  main .main-title{
    margin-left: 2%;
    color: #767275;
    margin-top: 11px;
}

  main .main-titulos {
  }

  main .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 43%;
    margin-bottom: 12px;
    margin-top: 3%;
    padding-top: 20px;
    background-color: white;
  }
  main .mostrar-productos {
    display: flex;
    justify-content: space-around;
}
  main .mostrar-productos-pc {
    display: flex;
}

  main .article {
    width: 69%;
    margin: auto;
    display: block;
    /* padding-top: 0px; */
  }
  main .emote-camion {
    color: #3fb349;
    margin-left: 76%;
    border-radius: 48px;
    width: 26px;
    border: solid 1.6px;
    padding: 6px 24px 6px 6px;
  }

  main .main-precio {
    margin-left: 5%;
  }

  main .main-offer {
    color: green;
    margin-left: 5%;
    font-size: 72%;
  }

  main .main-texto {
    font-size: 62%;
    color: gray;
    padding: 2% 0% 2% 0%;
    margin-left: 5%;
  }
}
/* movil:  */