<footer>
    <div class="footer">
        <div class="footer-desktop">
            <nav class="footer-icon">
                <i class="fa-solid fa-credit-card"></i>
            </nav>
            <h4>
                <a>Pagá con tarjeta o en efectivo</a>
            </h4>
            <nav class="footer-text">
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en</p>
                <p>puntos de pago. ¡Y siempre es seguro!</p>
            </nav>
        </div>
        <div class="footer-desktop">
            <nav class="footer-icon">
                <i class="fa-solid fa-gift"></i>
            </nav>
            <h4>
                <a>Envío gratis desde $ 2.500</a>
            </h4>
            <nav class="footer-text">
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de</p>
                <p>productos. Es un beneficio de Mercado Puntos.</p>
            </nav>
        </div>
        <div class="footer-desktop">
            <nav class="footer-icon">
                <i class="fa-solid fa-user-shield"></i>
            </nav>
            <h4>
                <a>Seguridad, de principio a fin</a>
            </h4>
            <nav class="footer-text">
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</p>
                <p>porque estás siempre protegid@.</p>
            </nav>
        </div>
    </div>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
