<header class="header">
    <div class="titulo-busqueda-anuncio">
        <div class="titulo-busqueda">
            <img src="/img/img-mercado-liebre.svg" alt="titulo" class="titulo">
            <nav class="header-para-buscar">
                <!-- <span class="header-barrra-busqueda">Buscar productos, marcas</span> -->
                <input type="text" name="busqueda" placeholder="Buscar productos, marcas" class="header-barrra-busqueda"
                    required>
                <button class="header-busqueda-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </nav>
        </div>
        <div>
            <p class="header-anuncio"><i class="fa-solid fa-hand-holding-dollar"></i>comprá en cuotas y sin targeta de
                crédito</p>
        </div>
    </div>
    <div class="scroll-1">
        <nav class="scroll">
            <p class="redirecciones-1"><a href="/home">Ofertas</a></p>
            <p class="redirecciones-1"><a href="/">Tiendas Oficiales</a></p>
            <p class="redirecciones-1"><a href="">Vender</a></p>
            <p class="redirecciones-1"><a href="">Ayuda</a></p>
        </nav>
        <nav class="scroll">
            <p class="redirecciones-2"> <a href="/register">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i>
            </p>
            <p class="redirecciones-2"><a href="/login">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i>
            </p>
            <p class="redirecciones-2"><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></p>
        </nav>
    </div>
    <nav class="header-icon-barra">
        <i class="fa-solid fa-bars"></i>
    </nav>
</header>